In [33]:
import awkward as ak
import pandas as pd
import numpy as np
import keras
import tensorflow as tf
# Data is stored in pandas -> Each

In [29]:
data=pd.read_csv('data/ML_data.csv',header=[0,1])
valid=pd.read_csv('data/Valid_data.csv')

In [35]:
data

         j1p4                                     j2p4                      \
           pt       phi       eta       mass        pt       phi       eta
0    122.6875 -2.919922  0.445801  12.101562  87.87500 -0.455444  1.209473
1    122.6875 -2.919922  0.445801  12.101562  87.87500 -0.455444  1.209473
2    122.6875 -2.919922  0.445801  12.101562  36.21875 -3.072266  1.402100
3     87.8750 -0.455444  1.209473   9.109375  36.21875 -3.072266  1.402100
4     74.3750 -1.612060  0.982910  14.867188  70.00000  2.320312  1.043457
..        ...       ...       ...        ...       ...       ...       ...
651   68.3750 -2.764648 -0.098969   9.250000  44.62500 -1.316650  0.204956
652   68.0000 -1.901367 -1.621338  17.953125  67.00000  1.044434 -0.117599
653   68.0000 -1.901367 -1.621338  17.953125  67.00000  1.044434 -0.117599
654   68.0000 -1.901367 -1.621338  17.953125  44.62500 -1.316650  0.204956
655   67.0000  1.044434 -0.117599  15.500000  44.62500 -1.316650  0.204956

                    j3p4            ...                           dR12  \
          mass        pt       phi  ...       mass Unnamed: 12_level_1
0     9.109375  36.21875 -3.072266  ...   9.109375            2.580086
1     9.109375  31.90625 -0.616455  ...   9.109375            2.580086
2     6.863281  31.90625 -0.616455  ...   6.863281            0.968357
3     6.863281  31.90625 -0.616455  ...   6.863281            2.623902
4    12.515625  60.90625  0.353943  ...  12.515625            2.351592
..         ...       ...       ...  ...        ...                 ...
651   8.062500  41.62500  2.547363  ...   8.062500            1.479550
652  15.500000  44.62500 -1.316650  ...  15.500000            3.307412
653  15.500000  41.62500  2.547363  ...  15.500000            3.307412
654   8.062500  41.62500  2.547363  ...   8.062500            1.917614
655   8.062500  41.62500  2.547363  ...   8.062500            2.383015

                   dR13                dR23              j1btag  \
    Unnamed: 13_level_1 Unnamed: 14_level_1 Unnamed: 15_level_1
0              0.968357            2.623902            0.980957
1              2.310835            0.961634            0.980957
2              2.310835            2.707798            0.980957
3              0.961634            2.707798            0.998047
4              2.717352            2.759757            0.125854
..                  ...                 ...                 ...
651            2.481758            3.542448            0.665039
652            1.917614            2.383015            0.863281
653            1.986220            2.718453            0.863281
654            1.986220            3.542448            0.863281
655            2.718453            3.542448            0.093140

                 j2btag              j3btag              j1area  \
    Unnamed: 16_level_1 Unnamed: 17_level_1 Unnamed: 18_level_1
0              0.980957            0.980957            0.458740
1              0.980957            0.980957            0.458740
2              0.980957            0.980957            0.458740
3              0.998047            0.998047            0.508789
4              0.125854            0.125854            0.508789
..                  ...                 ...                 ...
651            0.665039            0.665039            0.498779
652            0.863281            0.863281            0.598633
653            0.863281            0.863281            0.598633
654            0.863281            0.863281            0.598633
655            0.093140            0.093140            0.488770

                 j2area              j3area
    Unnamed: 19_level_1 Unnamed: 20_level_1
0              0.508789            0.478760
1              0.508789            0.488770
2              0.478760            0.488770
3              0.478760            0.488770
4              0.468750            0.498779
..                  ...                 ...
651            0.488770            0.488770
652            0.488770            0.488770
653            0.488770            0.488770
654            0.488770            0.488770
655            0.488770            0.488770

[656 rows x 21 columns]

In [30]:
valid

     values
0     False
1     False
2      True
3     False
4     False
..      ...
647   False
648   False
649   False
650   False
651   False

[652 rows x 1 columns]

In [31]:
test_data=data[0:int(len(data)*.8)-1]
valid_data=data[int(len(data)*.8):-1]
test_valid=valid[0:int(len(data)*.8)-1]
valid_label=valid[int(len(data)*.8):-1]

In [32]:
#One Events
test_data.loc[1]

j1p4    pt                     122.687500
        phi                     -2.919922
        eta                      0.445801
        mass                    12.101562
j2p4    pt                      87.875000
        phi                     -0.455444
        eta                      1.209473
        mass                     9.109375
j3p4    pt                      31.906250
        phi                     -0.616455
        eta                      0.261414
        mass                     9.109375
dR12    Unnamed: 12_level_1      2.580086
dR13    Unnamed: 13_level_1      2.310835
dR23    Unnamed: 14_level_1      0.961634
j1btag  Unnamed: 15_level_1      0.980957
j2btag  Unnamed: 16_level_1      0.980957
j3btag  Unnamed: 17_level_1      0.980957
j1area  Unnamed: 18_level_1      0.458740
j2area  Unnamed: 19_level_1      0.508789
j3area  Unnamed: 20_level_1      0.488770
Name: 1, dtype: float64

In [34]:
dataset = tf.data.Dataset.from_tensor_slices((data.values, valid.values))

ValueError: Dimensions 656 and 652 are not compatible